.App {
  text-align: center;
  /* background-color: #27282b; */

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #27282b;
  min-height: 5vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.songCard {
  display: grid;
  grid-template-columns: 3fr 10fr 3fr 5fr;
  align-items: center;
  padding: 30px;
  height: 50px;
  /* background-color: #27282b; */
  /* color: whitesmoke; */
}

.songList {
  display: flex;
  flex-direction: column;
  height: 100%
}

.songTitle {
  font-weight: bold;
}

.ourAudioPlayer {
  display: flex;
  justify-content: center;
  /* background-color: #27282b; */
}
 
.maestro-logo {
  height: 150px;
  margin: 20px;
} 